{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
  </head>
  <body>
    <h1>Products</h1>
    {% for product in products %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Image</th>
          <th scope="col">Price</th>
          <th scope="col">Add</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td><img src="{{ product.image.url }}" style="width:100px; height:100px;"></td>
          <td>{{ product.price }}</td>
          <td>
            <form action="{% url 'checkout' %}" method="post">
              {% csrf_token %}
              <input type="submit" value="Add to Cart">
            </form>
          </td>
        </tr>
      </tbody>
    </table>
    {% endfor %}
  </body>
</html>
{% endblock content %}
